nav li{
	display: inline;
	font-family: B612 Mono;
}

li a{
	text-decoration: none;
	font-size:19px;
	color:white;
}

img{
	width:90%;

		
}

.hero-image{
	background-image: url("../img/georgetown.jpg");
	height:70%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top:100px;
	margin-bottom: 30px;
}

.hero-text{
  text-align: center;
  font-family: B612 Mono;
  font-style:italic;
  top: 30%;
  left: 5%;
  color: black;
  font-size: 50px;
}
body{
	margin-left: 20px;
	margin-right: 20px;
	background-color: #d3d3d3;
}

.main p{
	font-family: B612 Mono;
	width:90%;
	text-align: justify;
	font-size: 17px;
}

.wrap{
	background-color: #5a575a;
	color:white;
}
.wrap ul{
	position:relative;
	left:390px;
}

.hero-text p{
	font-size: 60px;
}
footer img{

	height:50px;
	width:55px;
	padding-right: 20px;
	margin-top:20px;
	float:right;
}

.fixed-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #5a575a;
}

header{
	background: #5a575a;
	line-height: 80px;

}

header p{
	font-size:30px;
	font-family: B612 Mono;
	font-style: italic;
}

.fixed-header{
	color: white;
	position: fixed;
	background-color:#5a575a;
	width:100%;
}

.para img{
	width:100%;
}
.para{
	font-family: B612 Mono;
	font-size: 17px;
	margin-bottom: 90px;
}
